<!DOCTYPE html>
<html>
<head>
  <title>Polymorph</title>
  <%= stylesheet_link_tag    "polymorph/application", media: "all" %>
  <%= javascript_include_tag "polymorph/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
